name: Postman Collection Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  newman_run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3.8.1
        with:
          node-version: '18.17.0'
      - name: Install Newman & HTML reporter
        run: |
            npm install -g newman
            npm install -g newman-reporter-htmlextra
      - name: Run collection
        run: newman run HW18_Collection.postman_collection -r cli,htmlextra,junit 
        # GH pages
      - name: Checkout to gh-pages branch
        if: always()
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages

      - name: Rename report
        if: always()
        run: |
          cd newman
          mv *.html index.html

      - name: Copy report to gh-pages
        if: always()
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: newman
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy gh-pages branch to the website
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env: 
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISG_DTR: newman
